.container {
  font-size: var(--size);
  text-align: center;
  font-family: Georgia, monospace;
  display: inline-block;
  line-height: var(--size-big);
  color: var(--color-primary);
}

.heart {
  display: inline-block;
  animation-name: heart;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
}

svg {
  width: 128px;
  fill: #fff;
}

.mouth {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.6em;
}

@keyframes heart {
  0% {
    font-size: var(--size);
  }
  50% {
    font-size: var(--size-big);
  }

  100% {
    font-size: var(--size);
  }
}
