@import url('https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap');

:root {
  --color-primary: #1ca086;
  --color-secondary: #11a39b;
  --color-tertiary: #069ba7;
  --color-summary-background: #bc3440;
  --color-background: #fff5f4;
}

body {
  background-color: var(--color-background);
}

h1 {
  font-family: 'Arvo', serif;
  /* padding-left: 1rem;
  background-color: darkorange;
  border-bottom-style: solid;
  border-bottom-color: seagreen;
  border-bottom-width: 0.3rem; */
}
p {
  font-family: 'Arvo', serif;
}
h3 {
  font-family: 'Architects Daughter', cursive;
  /* background-color: darkmagenta;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white; */
}
